.forecast {
  margin: auto;
  width: 30%;
}

.forecast__forecast-label {
  color: #454545;
  text-align: center;
  font: 400 30px/34px Ubuntu;
}

.forecast__location-input {
  border: 1px solid #eee;
  border-radius: 15px;
  display: block;
  margin: auto;
  width: 80%;
  height: 30px;
  font: 400 18px/20px Ubuntu;
  padding: 4px 14px;
}

.forecast__forecast-summary {
  border-top: 1px solid #cecece;
  font: 400 18px/20px Ubuntu;
  padding-top: 16px;
  text-align:center;
}

.forecast__forecast-temperature {
  font: 400 18px/20px Ubuntu;
  text-align:center;
}

.forecast__icon {
  display: block;
  margin: auto;
  /* text-align:center; */
}

/* font-family: 'Ubuntu', sans-serif; */
